<app-custom-header></app-custom-header>
<div class="row card-group blogs">
		<div class="col-lg-6 portfolio-item" *ngFor="let item of totalBlogCount">
		  <div class="card h-100">
			<a href="#"><img class="card-img-top" [src]="item.image"  alt=""></a>
			<div class="card-body">
			  <h4 class="card-title">
				<a href="/BlogInfo?id={{item.name}}" >{{item.name}}</a>
			  </h4>
			  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
			</div>
			<div class="card-footer text-muted">
				Category : {{item.category}}
			 </div>
		  </div>
		</div>
</div>
